@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400&display=swap');

:root {
  --brown: rgb(73, 66, 56);
  --gray: rgb(236, 236, 236);
  --radius: 10px;
  --btn-fontsize: 1.3rem;
  --shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  --mediaquery: 64rem;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--brown);
  background-color: white;
  font-size: 22px;
  font-family: 'Gaegu', cursive;
  position: relative;
}

button {
  color: var(--brown);
  background-color: var(--gray);
  border-style: none;
  border-radius: var(--radius);
}

.splash {
  width: 80%;
  min-width: var(--mediaquery);
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 500;
  animation: disappear 2s ease-in-out forwards;
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.game {
  width: 60%;
  height: 90vh;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--brown);
}

.game__header {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.game__btn {
  width: 7rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--btn-fontsize);
  animation: shadow 1s infinite ease-in-out alternate-reverse;
}

.game__btn span {
  padding-left: 1rem;
}

@keyframes shadow {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: var(--shadow);
  }
}

.game__btn:hover {
  cursor: pointer;
}

.game__target {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 1rem;
}

#game__target__img {
  width: 100px;
  height: 100px;
}

.game__timer {
  width: 5em;
  height: 1.5em;
  margin: 1rem 0;
  background-color: darkolivegreen;
  border: 4px solid var(--brown);
  border-radius: var(--radius);
  display: flex;
  justify-content: center;
  align-items: center;
}

.game__timer > span {
  font-size: 1.2rem;
  font-family: 'Press Start 2P', cursive;
  color: white;
}

.game__redo,
.game__how-to-play {
  width: 3rem;
  height: 3rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: var(--btn-fontsize);
  border-radius: var(--radius);
}

.game__redo {
  background-color: pink;
  left: 0px;
}

.game__how-to-play {
  background-color: var(--brown);
  right: 0px;
}

.game__redo:hover,
.game__how-to-play:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.pop-up-how-to-play {
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: palegoldenrod;
  border-radius: var(--radius);
  box-sizing: border-box;
  z-index: 100;
}

.game__field {
  width: 100%;
  height: 70%;
  border-radius: var(--radius);
  background-size: 100% 120%;
  position: relative;
}

.whale {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: move 1s infinite ease-in-out alternate-reverse;
}

.whale:hover {
  z-index: 50;
  cursor: pointer;
}

@keyframes move {
  from {
    transform: none;
  }
  to {
    transform: scale(1.2);
  }
}

.pop-up {
  width: 30rem;
  height: 20rem;
  border-radius: var(--radius);
  color: white;
  background-color: rgba(0, 0, 0, 0.253);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.pop-up__btn {
  width: 100px;
  height: 100px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: var(--brown);
  animation: btnOpacity 0.1s infinite ease-in-out alternate-reverse;
}

.pop-up__btn:hover {
  cursor: pointer;
}

@keyframes btnOpacity {
  from {
    transform: rotate(-3deg);
  }
  to {
    transform: rotate(3deg);
  }
}

.hidden {
  display: none;
}

.cant-see {
  visibility: hidden;
}

@media screen and (max-width: 64rem) {
  .game {
    width: 90%;
    height: 100vh;
  }
  .game__btn {
    width: 6rem;
    height: 2rem;
    font-size: 1.1rem;
  }
  .game__header {
    width: 100%;
    height: 30%;
  }
  .game__target {
    width: 80px;
    height: 80px;
  }
  .game__field {
    width: 100%;
    height: 60vh;
    background-size: 100% 120%;
  }
  .pop-up-how-to-play {
    width: 400px;
    height: 220px;
    font-size: 18px;
  }
  .pop-up {
    width: 30rem;
    height: 20rem;
  }
  .whale {
    width: 90px;
    height: 90px;
  }
}
